<h1>Free Disk Spaces</h1>

<p>Bytes : <%= number_with_delimiter(@bytes) %> </p>

<p>Kilo bytes : <%= number_with_delimiter(@kilo_bytes) %></p>

<p>Mega bytes : <%= number_with_delimiter(@mega_bytes) %></p>

<p>Giga bytes : <%= number_with_delimiter(@giga_bytes) %></p>

<p>Tera bytes : <%= number_with_delimiter(@tera_bytes) %></p>



<h1>Disk Usage Percentage</h1>

<p>Percent used : <%= number_with_precision(@percent_used, precision: 2) %> %</p>


<h1>Rails public/uploads size</h1>

<p>public/uploads size : <%= @public_uploads_size %></p>